# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist/**/**
/tmp

# dependencies
/node_modules

# Files
/uploads
# /uploads/**
# /uploads/cecos/*
# /uploads/users/*
# /uploads/estimates/*
# /uploads/expenses/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
